<button type='button' {{action "addOne"}}>Add a Whatsit</button>

{{#each groupKeys as |key|}}
	<h4>Group {{key}}</h4>
	<ul>
	{{#each (group-lookup groups key) as |item|}}
		<li>
			{{item.displayId}} --- {{item.name}} {{item.rating}}
		</li>
	{{/each}}
	</ul>
{{/each}}
